/* app css stylesheet */

/*
body {
  padding-top: 20px;
}

.phones {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.phones li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}
*/

html {
  position: relative;
  min-height: 100%;
}
body {
	//min-height: 2000px;
	margin-bottom: 80px;
	margin-top: 20px;
	//overflow-x: hidden;
	padding-top: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.navbar-static-top {
	margin-bottom: 19px;
}
#wrapper {
	//padding-top: 50px;
	//margin-bottom: 60px;
}
#sidebar-wrapper {
	//z-index: 0;
}
#page-content-wrapper {
	//padding-bottom: 60px;
}