<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>MailDigger</title>

    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="mlMailDigger.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

<body ng-app="mlMailDiggerApp" ng-controller="MailsListController">

    <!-- div-sidemenu -->
	<div id="divSideMenu" class="div-sidemenu">
	    <ul class="ul-sidebar">
	    	<li class="li-sidebar">Home</li>
	    	<li class="li-sidebar">Advanced Search</li>
	    	<li class="li-sidebar">About</li>
	    </ul>
	</div><!-- /div-sidemenu -->

    <!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
          		<a class="navbar-brand" href="#">MailDigger</a>
        	</div>
			<div id="navbar" class="navbar-collapse collapse">
				<!--
				<ul class="nav navbar-nav">
		            <li class="active"><a href="#">Home</a></li>
		            <li><a href="#about">About</a></li>
		            <li><a href="#contact">Contact</a></li>
		            <li class="dropdown">
              			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              				Dropdown
              				<span class="caret"></span>
              			</a>
              			<ul class="dropdown-menu">
			                <li><a href="#">Action</a></li>
			                <li><a href="#">Another action</a></li>
			                <li><a href="#">Something else here</a></li>
			                <li role="separator" class="divider"></li>
			                <li class="dropdown-header">Nav header</li>
			                <li><a href="#">Separated link</a></li>
			                <li><a href="#">One more separated link</a></li>
             		 	</ul>
						</li>
				</ul>
				-->
				<ul class="nav navbar-nav navbar-right">
		            <!--
		            <li><a href="../navbar/">Default</a></li>
		            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
		            <li></li>
		            -->
		            <li><a href="../navbar-fixed-top/">Advanced Search</a></li>
		         </ul>
		         <!--
		         <div class="col-sm-3 col-md-3 pull-right">
				    <form class="navbar-form" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				-->
			</div><!--/.nav-collapse -->
      </div>
    </nav>

	<!-- main div -->
    <div class="container">
    	<div ng-view class="div-ng-view"></div>
    </div> <!-- /container -->

	<!-- fixed footer -->
	<footer class="footer" class="navbar-form">
		<div class="container footer-container" >
			<form class="form-inline" action="">
				<div class="input-group">
					<span class="input-group-addon">T</span>
					<input type="text" class="form-control" placeholder="contains" ng-model="search.contains" value="">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-send"></i>
					</span>
					<input type="text" class="form-control" placeholder="from" ng-model="search.from" value="">
					<span class="input-group-addon">
						<i class="glyphicon glyphicon-tag"></i>
					</span>
					<input type="text" class="form-control" placeholder="tags" ng-model="search.tags" value="">
					<div class="input-group-btn">
						<button ng-click="go(search)" class="btn btn-primary" type="submit" id="btnAdvancedSearch">
							<i class="glyphicon glyphicon-search"></i>
						</button>
					</div>
				</div>
			</form>
			<!--
			<p class="text-muted">
				Place sticky footer content here.
			</p>
			-->
		</div>
    </footer><!-- /fixed footer Toogle Side Menu-->

    <button class="btn btn-showmenu" id="btnShowMenu">
    	<i class="glyphicon glyphicon-cog"></i>
    </button>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!---->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ie10-viewport-bug-workaround.js"></script>
	<!-- angular javascript -->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<!-- required module to enable animation support in AngularJS -->
	<script src="bower_components/angular-animate/angular-animate.js"></script>
  	<!--script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-sanitize.js"></script-->
  	<script src="js/angular-sanitize.js"></script>

	<!-- application-specific javascript -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>

	<script>
    $("#btnShowMenu").click(function(e) {
        e.preventDefault();
        $("#divSideMenu").toggle()
    });
    $("#btnAdvancedSearch").click(function(e) {
        e.preventDefault();
        //$("#divSideMenu").toggle()
    });
    </script>

  </body>
</html>
